// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//apply a natural box layout model to all elements, but allowing components to change 

.logoIngreso {
    height: 200px;
    width: 200px;
}

.h-screen {
    height: 100vh;
}


.logoRedSocial {
    height: 30px;
    width: 30px;
}

.logoMenu {
    height: 100px;
    width: 100px;
}

.iconoAccion {
    height: 25px;
    width: 25px;
}

.iconoFlecha {
    height: 15px;
    width: 15px;
}

.iconoAcordion{
    height: 18px;
    width: 18px;
}

.nav-link.active,
.show>.nav-link {
    background: #595959 !important;
    color: white !important;
}



#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


.h-screen {
    height: 100vh;
}

.responsive-table {
    overflow-x: auto;
}


.searchInput {
    background-color: $body-bg !important;
    border: none !important;
    border-bottom: 1px solid black !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 250px !important;
}



/** =======================
   * Contenedor Principal
   ===========================*/

.accordion {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 20px;
    background: #F8F9FA;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    li {
        list-style: none;
    }

    .link {
        cursor: pointer;
        display: block;
        padding: 15px;
        color: #4D4D4D;
        font-size: 18px;
        border-bottom: 1px solid #CCC;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    li:last-child .link {
        border-bottom: 0;
    }


    li .iconoFlecha {
        right: 12px;
        left: auto;
        font-size: 14px;
    }

    li.open .link {
        color: #4E4E4E;
    }

    li.open .iconoFlecha {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

/**
   * Submenu
   -----------------------------*/


.submenu {
    display: none;
    background: #F8F9FA;
    font-size: 14px;
}

.submenu li {
    border-bottom: 1px solid #4b4a5e;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #4E4E4E;
    padding: 12px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #d9d9d9;
    color: #4E4E4E;
}

.btn-outline-none{
    border:none;
    outline:none;
    
}

.logoCentro{
    opacity: 0.4;
    margin-top: 100px;
}

.bg-none{
    background: none;
}
.bg-collapse-gray{
    background: #595959;
}